<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ReportsProjectDb" connectionString="Server=tcp:mysqlserver101a1.database.windows.net,1433;Initial Catalog=ReportsProjectDb;Persist Security Info=False;User ID=AppUser;Password='H0jJ6^a9YmPp!';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>